* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Describing the madia query for mobile screen */
@media (max-width: 769px) {
  /* meta styling */
  .logo a {
    text-decoration: none;
    color: #3a4a42;
    font-weight: bolder;
    margin: 70px;
    font-size: 40px;
  }

  .desktop_capstone {
    display: none;
  }

  .desktop_capstone ul {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin: 30px 30px;
    list-style: none;
    align-items: center;
  }

  .desktop_capstone ul li a {
    text-decoration: none;
    color: #3a4a42;
    font-size: 18px;
    font-weight: bold;
  }

  .mobile_capstone {
    display: flex;
    flex-direction: column;
    gap: 3px;
    margin-right: 320px;
    padding: 10px;
  }

  .mobile_capstone p {
    padding: 2.5px 15px;
    background-color: black;
  }

  .meta_paragraph_1 {
    color: red;
    margin: 10px;
    margin-right: 200px;
  }

  .meta_title {
    color: red;
    font-weight: bolder;
    font-size: 30px;
    margin: 20px;
  }

  .meta_paragraph_2 {
    border: 1px solid whitesmoke;
    font-size: 15px;
    color: #3a4a42;
    margin: 15px;
    padding: 25px 8px;
  }

  .meta_date {
    color: #3a4a42;
    text-align: center;
  }

  .meta_mail {
    color: #3a4a42;
    margin: 10px;
    font-size: 15px;
  }

  .meta {
    background: url(assets/images/home-background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 55px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  /* charset styling */
  .charset {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url(assets/images/Screenshot\ 2024-12-04\ 135824.png);
  }

  .charset_card {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .charset_card img {
    height: 90px;
    width: 80px;
  }

  .charset_title {
    color: white;
    text-align: center;
    margin: 20px;
  }

  .charset_bar p {
    justify-content: center;
    background-color: #a04038;
    padding: 3px 15px;
    width: 50px;
    border-radius: 3px;
    margin: 10px 150px;
  }

  .charset_card h3 {
    color: #ff5438;
    font-size: large;
    margin: 30px;
    align-items: center;
  }

  .charset_card p {
    color: white;
    font-weight: 100;
    margin: 10px;
  }

  .charset_menu {
    text-align: center;
    margin: 50px 50px;
    background-color: #ff5438;
    color: white;
    width: 300px;
    height: 60px;
    padding: 20px 10px;
  }

  /* speakers styling */

  .speakers_cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
  }

  .speakers_card {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
  }

  .speaker_image img {
    width: 100px;
    height: auto;
  }

  .speakers_heading {
    text-align: center;
    font-weight: bold;
    font-size: 30px;
  }

  .speaker_description {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .speaker_description h3 {
    font-size: 20px;
    font-weight: bold;
  }

  .speaker_bar p {
    background-color: #a04038;
    padding: 3px 15px;
    width: 50px;
    border-radius: 3px;
    margin: 20px;
    align-items: center;
    margin-left: 150px;
  }

  .speaker_description p:nth-child(2) {
    color: #f78c89;
  }

  .line_brack {
    background-color: whitesmoke;
    padding: 3px;
    width: 40px;
    border-radius: 3px;
    margin: 8px 8px;
  }

  .speaker_hover {
    width: 300px;
    height: 38px;
    border-radius: 4px;
    border: 1px solid #dcdcdc;
    margin: 50px;
  }
}
